@import "./scss/variables";
@import "./scss/commons";

@include reset;

body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background: $black;

  @include mobile-screen {
    flex-direction: column;
  }
}

#about {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 5rem;
  margin-right: 10rem;
  align-self: flex-end;

  font-family: "Neue Montreal Light";
  font-size: 2.6rem;
  letter-spacing: 0.1rem;
  -webkit-text-stroke: 1px $white;
  text-align: initial;

  @include tablet-screen {
    font-size: 3.6rem;
  }
}

/**
* PROJECTS SECTION
*/
#projects {
  height: 80vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 5rem;
  padding-left: 10rem;

  @include mobile-screen {
    min-height: 90vh;
  }

  @include small-tablet-screen {
    // min-height: 85vh;
    align-items: center;
    padding-left: 0;
  }

  @include tablet-screen {
    // min-height: 70vh;
    align-items: center;
    padding-left: 0;
  }

  h2 {
    margin: 1rem 0;
    position: relative;
    font-size: 6rem;
    letter-spacing: 0.165rem;
    text-transform: uppercase;
    -webkit-text-stroke: 1px $white;

    @include mobile-screen {
      font-size: 4.2rem;
    }

    // &:first-child {
    // margin-top: 0;
    // }

    @include tablet-screen {
      font-size: 8rem;
      margin: 2.5rem 0;
    }

    @include small-tablet-screen {
      font-size: 6rem;
      margin: 2.5rem 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    span {
      position: absolute;
      top: -2rem;
      font-family: "Neue Montreal Light", Arial, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 3.6rem;
      -webkit-text-stroke: 1px $white;
      @include mobile-screen {
        font-size: 2.6rem;
      }

      &.num-l {
        left: -4.5rem;
        @include mobile-screen {
          left: -3.5rem;
        }
      }

      &.num-r {
        left: auto;
      }
    }

    &.light {
      color: transparent;
    }
  }
}

/**
* FOOTER
*/
@include footer_;

/**
* CANVAS WEBGL
*/
@include webgl;
