@import "./scss/variables";
@import "./scss/commons";

@include reset;

body {
  height: 100vh;
  background: $black;
  @include mobile-screen {
    flex-direction: column;
  }
}

/**
* BIO SECTION
*/
#about {
  font-family: "Neue Montreal Light";
  font-size: 2.6rem;
  letter-spacing: 0.1rem;
  -webkit-text-stroke: 1px $white;
  text-align: initial;

  @include mobile-screen {
    margin-right: 6rem;
  }
}

header {
  position: fixed;
  top: 5rem;
  right: 10rem;
  z-index: 2;
  @include mobile-screen-mini {
    right: 7.5rem;
  }

  @include mobile-screen-plus {
    right: 12rem;
  }

  @include mobile-tablet {
    top: 2rem;
    right: 4rem;
  }
}

main {
  position: relative;
  height: 100vh;
  width: 100%;
}

/**
* PROJECTS SECTION
*/
#projects {
  max-height: 80vh;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 16rem;
  padding-left: 10rem;

  @include mobile-screen-mini {
    padding-left: 7rem;
  }

  @include mobile-screen {
    align-items: center;
    padding-top: 10rem;
  }

  @include tablet-screen {
    padding-left: 24rem;
  }

  .scroll-content {
    // min-height: 60vh;
    // max-height: 80vh;
    h2 {
      margin: 1rem 0;
      position: relative;
      font-size: 6rem;
      letter-spacing: 0.165rem;
      text-transform: uppercase;
      -webkit-text-stroke: 1px $white;

      @include mobile-screen {
        font-size: 4.2rem;
      }

      @include large-desktop-screen {
        font-size: 8rem;
      }

      &:last-child {
        margin-bottom: 0;
      }

      span {
        position: absolute;
        top: -2rem;
        font-family: "Neue Montreal Light", Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 3.6rem;
        -webkit-text-stroke: 1px $white;
        @include mobile-screen {
          font-size: 2.6rem;
        }

        &.num-l {
          left: -4.5rem;
          @include mobile-screen {
            left: -3.5rem;
          }
        }

        &.num-r {
          left: auto;
        }
      }

      &.light {
        color: transparent;
        opacity: 0.2;
      }
    }
  }
}

#projects-img {
  z-index: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);

  @include mobile-screen {
    left: 10%;
    transform: translate(0%, -50%);
  }

  @include mobile-tablet {
    left: 9%;
    transform: translate(0%, -50%);
  }

  @include mobile-screen-plus {
    left: 14%;
  }

  @include tablet-screen {
    left: 10%;
    transform: translate(0%, -50%);
  }

  .scroll-content-img {
    display: flex;
    gap: 10rem;

    .wrapper-img {
      height: 360px;
      width: 620px;

      @include mobile-screen {
        height: 200px;
        width: 300px;
      }

      @include mobile-tablet {
        height: 300px;
        width: 400px;
      }

      @include large-desktop-screen {
        height: 480px;
        width: 820px;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

/**
* FOOTER
*/
@include footer_;

/**
* CANVAS WEBGL
*/
@include webgl;
