@import "./scss/variables";
@import "./scss/commons";

@include reset;

body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background: $black;

  @include mobile-screen {
    flex-direction: column;
  }
}

#about {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 5rem;
  margin-right: 10rem;
  align-self: flex-end;

  font-family: "Neue Montreal Light";
  font-size: 2.6rem;
  letter-spacing: 0.1rem;
  -webkit-text-stroke: 1px $white;
  text-align: initial;

  @include tablet-screen {
    font-size: 3.6rem;
  }

  @include mobile-screen {
    margin-right: 6rem;
  }
}

/**
* PROJECTS SECTION
*/
#projects {
  height: 80vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 5rem;
  padding-left: 10rem;

  @include mobile-screen {
    align-items: center;
    padding-left: 0;
    padding-top: 10rem;
  }

  @include small-tablet-screen {
    align-items: center;
    padding-left: 0;

    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 2rem;
  }

  @include tablet-screen {
    align-items: center;
    padding-left: 0;

    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 2rem;
  }

  h2 {
    margin: 1rem 0;
    position: relative;
    font-size: 6rem;
    letter-spacing: 0.165rem;
    text-transform: uppercase;
    -webkit-text-stroke: 1px $white;

    @include mobile-screen {
      font-size: 4.2rem;
    }

    @include tablet-screen {
      font-size: 8rem;
      margin: 2.5rem 0;
    }

    @include small-tablet-screen {
      font-size: 6rem;
      margin: 2.5rem 0;
    }

    @include large-desktop-screen {
      font-size: 8rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    span {
      position: absolute;
      top: -2rem;
      font-family: "Neue Montreal Light", Arial, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 3.6rem;
      -webkit-text-stroke: 1px $white;
      @include mobile-screen {
        font-size: 2.6rem;
      }

      &.num-l {
        left: -4.5rem;
        @include mobile-screen {
          left: -3.5rem;
        }
      }

      &.num-r {
        left: auto;
      }
    }

    &.light {
      color: transparent;
      opacity: 0.2;
    }
  }
}

#projects-img {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;

  .wrapper-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid $white;
    height: 360px;
    width: 620px;

    @include mobile-screen {
      height: 200px;
      width: 300px;
    }

    @include large-desktop-screen {
      height: 480px;
      width: 820px;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .wrapper-img:nth-child(2) {
    transform: translate(60%, -150%);
  }
}

/**
* FOOTER
*/
@include footer_;

/**
* CANVAS WEBGL
*/
@include webgl;
