@import "./scss/variables";

* {
  margin: 0;
  left: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  background: $main-color;

  @include mobile-screen {
    flex-direction: column;
  }
}

h1,
h2 {
  font-family: "Neue Montreal Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  color: $black;
}

h3,
p {
  font-family: "Neue Montreal Light", Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 300;
  color: $black;
}

a {
  font-family: "Neue Montreal Light Italic", Arial, Helvetica, sans-serif;
  text-align: right;
  font-weight: 300;
  color: $black;
  text-decoration: none;
}

/**
* MAIN CONTAINER
*/
.container {
  // order: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  @include mobile-screen {
    order: 1;
  }

  h1 {
    font-size: 18.4rem;
    @include mobile-screen {
      font-size: 6.4rem;
    }

    @include small-tablet-screen {
      font-size: 10.4rem;
    }
    @include tablet-screen {
      font-size: 14.4rem;
    }
  }
}

/**
* DESCRIPTION SECTION
*/
#description {
  margin-top: 10rem;
  margin-bottom: 2.5rem;
  line-height: 5.8rem;

  font-size: 4.8rem;
  font-style: normal;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  -webkit-text-stroke: 1px $black;

  @include mobile-screen {
    margin-top: 6rem;
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 2.8rem;
  }

  @include small-tablet-screen {
    line-height: 4.8rem;
    font-size: 3.8rem;
  }

  @include desktop-screen {
    margin-bottom: 10rem;
  }
}

/**
* PROJECTS SECTION
*/
#projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mobile-screen {
    min-height: 90vh;
  }

  @include small-tablet-screen {
    min-height: 85vh;
  }

  @include tablet-screen {
    min-height: 70vh;
  }

  h2 {
    margin: 2.5rem 0;
    position: relative;
    font-size: 7.2rem;
    letter-spacing: 0.165rem;
    text-transform: uppercase;
    -webkit-text-stroke: 1px $black;

    @include mobile-screen {
      font-size: 4.2rem;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    span {
      position: absolute;
      top: -2rem;
      font-family: "Neue Montreal Light", Arial, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 3.6rem;
      -webkit-text-stroke: 1px $black;
      @include mobile-screen {
        font-size: 2.6rem;
      }

      &.num-l {
        left: -4.5rem;
        @include mobile-screen {
          left: -3.5rem;
        }
      }

      &.num-r {
        left: auto;
      }
    }

    &.light {
      color: transparent;
    }
  }
}

/**
* FOOTER
*/
footer {
  margin-top: 10rem;
  min-height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  @include mobile-screen {
    margin-top: 2rem;
    min-height: 10vh;
  }

  @include common-tablet-screen {
    margin-top: 0;
    min-height: 10vh;
  }

  h3 {
    flex: 1;
    text-align: left;
    font-size: 2.4rem;

    @include mobile-screen {
      font-weight: 700;
      font-size: 1.4rem;
    }

    @include common-tablet-screen {
      font-weight: 700;
    }

    @include small-tablet-screen {
      font-size: 1.8rem;
    }

    span {
      font-family: "Neue Montreal Bold", Arial, Helvetica, sans-serif;
      font-weight: 700;
    }
  }

  p {
    span {
      -webkit-text-stroke: 1px $black;
    }
    font-size: 3.6rem;
    letter-spacing: 0.08rem;

    @include mobile-screen {
      display: none;
    }

    @include small-tablet-screen {
      font-size: 2.6rem;
    }
  }

  .social {
    flex: 1;
    line-height: 4.2rem;

    .social--flex {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    @include mobile-screen {
      line-height: 1.8rem;
    }

    @include small-tablet-screen {
      line-height: 3.2rem;
    }

    a {
      width: fit-content;
      font-size: 3.6rem;
      letter-spacing: 0.1rem;
      -webkit-text-stroke: 1px $black;

      @include mobile-screen {
        font-size: 1.6rem;
      }

      @include small-tablet-screen {
        font-size: 2.6rem;
      }
    }
  }
}

/**
* BAND
*/
#band {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  background: $black;
  // order: 1;

  @include mobile-screen {
    order: 2;
    width: 100%;
    margin-top: 2rem;
  }

  h3 {
    min-width: 80rem;
    font-size: 4.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    -webkit-text-fill-color: $main-color;
    transform: rotate(-90deg);

    @include mobile-screen {
      min-width: unset;
      font-size: 1.8rem;
      transform: none;
    }
    span {
      font-family: "Neue Montreal Bold", Arial, Helvetica, sans-serif;
    }
  }
}

/**
* CANVAS WEBGL
*/
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}
