@font-face {
  font-family: "Neue Montreal Bold";
  src: url("./assets/fonts/NeueMontreal-Bold.otf");
}
@font-face {
  font-family: "Neue Montreal Bold Italic";
  src: url("./assets/fonts/NeueMontreal-BoldItalic.otf");
}
@font-face {
  font-family: "Neue Montreal Light";
  src: url("./assets/fonts/NeueMontreal-Light.otf");
}
@font-face {
  font-family: "Neue Montreal Light Italic";
  src: url("./assets/fonts/NeueMontreal-LightItalic.otf");
}

$mustard: #f2d091;
$black: #000000;
