@font-face {
  font-family: "Neue Montreal Bold";
  src: url("./assets/fonts/NeueMontreal-Bold.otf");
}
@font-face {
  font-family: "Neue Montreal Bold Italic";
  src: url("./assets/fonts/NeueMontreal-BoldItalic.otf");
}
@font-face {
  font-family: "Neue Montreal Light";
  src: url("./assets/fonts/NeueMontreal-Light.otf");
}
@font-face {
  font-family: "Neue Montreal Light Italic";
  src: url("./assets/fonts/NeueMontreal-LightItalic.otf");
}

// Dark version
$black: #0d0d0d;
$white: #ffffff;

$mobile-min: 320px;
$mobile-max: 480px;

$tablet-min: 768px;
$tablet-max: 1000px;

$desktop: 1200px;
$desktop-large: 1440px;

/**
* MOBILE
*/
@mixin mobile-screen-mini {
  @media (max-width: #{$mobile-min}) {
    @content;
  }
}

@mixin mobile-screen {
  @media (min-width: #{$mobile-min}) and (max-width: #{$mobile-max}) {
    @content;
  }
}

@mixin mobile-screen-plus {
  @media (min-width: 410px) and (max-width: #{$mobile-max}) {
    @content;
  }
}

/**
* MOBILE -> TABLET
*/
@mixin mobile-tablet {
  @media (min-width: 481px) and (max-width: 767px) {
    @content;
  }
}

/**
* TABLET
*/
@mixin tablet-screen {
  @media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
    @content;
  }
}

/**
* DESKTOP
*/
@mixin desktop-screen {
  @media (min-width: #{$desktop}) and (max-width: #{$desktop-large}) {
    @content;
  }
}

@mixin large-desktop-screen {
  @media (min-width: #{$desktop-large}) {
    @content;
  }
}
